html{
	height: 100;
}
body {
	background-color: #f5f4f2;
	height: 100%;
	font-size: 1em;
	line-height: 135%;
}

.reg{
	text-align: right;
	font-size: 20px;
	color: yellow;
}
button{
	background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 17px;
    border-radius: 8px;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.page{
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	width: auto;
}
.main{
	margin: 10px;
	flex: 1 1 auto;
}
/* стили для шапки */
.header {
	display: flex;
	justify-content: space-between;
	padding: 10px;
	background-color: gray;
	width: auto;
}

a{
	color: black;
	text-decoration: none;
}

.header_section{
	display: flex;
	align-items: center;
}

.header_item{
	padding: 10px 15px;
	font-size: 20px;
	margin-left: 15px;
}

.header_logo{
	font-weight: bold;
	color: red;
}

.header_button{
	cursor: pointer;
}
/*cтили для футера*/
footer{
	width: 98%;
	float: left;
	padding: 1%;
	background-color: gray;
	border-top: 2px solid-silver;
	margin-top: auto;
}
/*стили для элементов текста*/
h1 {
	font-family: 'Open Sans', sans-serif;
}

.newsblock {
	display: block;
	margin-top: 15px;
	width: 350px;
	border: 1px solid black;
	padding: 1% 3% 1% 3%;
	text-align: center;
	margin-left: 33%;
}

.button2 {
		padding: 10px;
		background-color: #e3e3e3;
		border: unset;
		cursor: pointer;
		color: black;
		width: 150px;
}

.newsblock_hot {
	display: block;
	margin-top: 15px;
	width: 350px;
	border: 1px solid rgb(255, 0, 0);
	padding: 1% 3% 1% 3%;
	text-align: center;
	margin-left: 33%;
}

.imgindex {
	margin-left: 25%;
}

.sidebar {
	display: block;
	border: 1px solid black;
	height: 500px;
	width: 350px;
}

